@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h1>CCA</h1>
<form>
    <div class="row">
        <div class="col-sm-4" *ngFor="let componente of Componenti">
            <dettaglio-componente [componente]="componente"></dettaglio-componente>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)="salvaComponenti()">Salva</button>
        </div>
    </div>
</form>
