@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="form-group">
    <label>Fascia</label>
    <p class="form-control-static">{{componente.Fascia}} (id: {{componente.IDFascia}})</p>
</div>
<div class="form-group">
    <label>Anno</label>
    <input type="number" class="form-control" [(ngModel)]="componente.Anno" />
</div>
<div class="form-group">
    <label>Mese</label>
    <input type="number" class="form-control" [(ngModel)]="componente.Mese" />
</div>
<div class="form-group">
    <label>Valore</label>
    <input type="number" class="form-control" [(ngModel)]="componente.Valore" />
</div>
<div class="form-group">
    <label>Valore Pieno</label>
    <input type="number" class="form-control" [(ngModel)]="componente.ValorePieno" />
</div>
